.wrapper {
  border-radius: 5px;
  background-color: #4e4343;
  color: #ffffff;
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.hasIssues {
  border: 1px solid #ff0000;
}

.title {
  text-align: center;
}

.warning {
  color: #ff0000;
}

.issueNotification {
  border: 1px solid red;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.fullDetails {
  flex: 1 1 auto;
}

.workers {
  margin-bottom: 1rem;
}

.worker {
  margin-bottom: 0.5rem;
}

.issues {
  border: 1px solid #ffd700;
  justify-self: center;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
}

.hasServerIssues {
  text-align: initial;
}